# Node/React/Vite
node_modules/
dist/
build/
.temp/
.cache/
*.log
npm-debug.log*

# Mac/Windows
.DS_Store
Thumbs.db

# Vite/CRA/Secrets
.env
.env.local
.env.production
.env.development

# VSCode/IDE
.vscode/
.idea/
.vs/
*.suo
*.vsscc
*.user
*.swp

# Visual Studio build/debug (C#/WPF/WCF etc)
obj/
bin/
*.dll
*.exe

# Yarn/PNPM
.yarn/
.pnp/
.yarnrc*

# Test/coverage
coverage/

# OS/Metadata/trash
*.orig
webpack-db/

# Misc
*.log
.projects/
*.csproj.user
